Cliente/src/conf/xml-resources/web-service-references/WebServiceAlquiler/wsdl/localhost_8080/PROGRAMA_ALQUILER/WebServiceAlquiler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CONTROLADOR/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CONTROLADOR/" name="WebServiceAlquiler">
<types>
<xsd:schema>
<xsd:import namespace="http://CONTROLADOR/" schemaLocation="http://localhost:8080/PROGRAMA_ALQUILER/WebServiceAlquiler?xsd=1"/>
</xsd:schema>
</types>
<message name="listarAlquilerDia">
<part name="parameters" element="tns:listarAlquilerDia"/>
</message>
<message name="listarAlquilerDiaResponse">
<part name="parameters" element="tns:listarAlquilerDiaResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="listarAlquilerPersona">
<part name="parameters" element="tns:listarAlquilerPersona"/>
</message>
<message name="listarAlquilerPersonaResponse">
<part name="parameters" element="tns:listarAlquilerPersonaResponse"/>
</message>
<message name="updateJuego">
<part name="parameters" element="tns:updateJuego"/>
</message>
<message name="updateJuegoResponse">
<part name="parameters" element="tns:updateJuegoResponse"/>
</message>
<message name="creacionPersona">
<part name="parameters" element="tns:creacionPersona"/>
</message>
<message name="creacionPersonaResponse">
<part name="parameters" element="tns:creacionPersonaResponse"/>
</message>
<message name="creacionJuego">
<part name="parameters" element="tns:creacionJuego"/>
</message>
<message name="creacionJuegoResponse">
<part name="parameters" element="tns:creacionJuegoResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="selectPersona">
<part name="parameters" element="tns:selectPersona"/>
</message>
<message name="selectPersonaResponse">
<part name="parameters" element="tns:selectPersonaResponse"/>
</message>
<message name="selectJuego">
<part name="parameters" element="tns:selectJuego"/>
</message>
<message name="selectJuegoResponse">
<part name="parameters" element="tns:selectJuegoResponse"/>
</message>
<message name="listarJuegos">
<part name="parameters" element="tns:listarJuegos"/>
</message>
<message name="listarJuegosResponse">
<part name="parameters" element="tns:listarJuegosResponse"/>
</message>
<message name="CrearAlquiler">
<part name="parameters" element="tns:CrearAlquiler"/>
</message>
<message name="CrearAlquilerResponse">
<part name="parameters" element="tns:CrearAlquilerResponse"/>
</message>
<portType name="WebServiceAsesor">
<operation name="listarAlquilerDia">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarAlquilerDiaRequest" message="tns:listarAlquilerDia"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarAlquilerDiaResponse" message="tns:listarAlquilerDiaResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarAlquilerDia/Fault/ClassNotFoundException"/>
</operation>
<operation name="listarAlquilerPersona">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarAlquilerPersonaRequest" message="tns:listarAlquilerPersona"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarAlquilerPersonaResponse" message="tns:listarAlquilerPersonaResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarAlquilerPersona/Fault/ClassNotFoundException"/>
</operation>
<operation name="updateJuego">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/updateJuegoRequest" message="tns:updateJuego"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/updateJuegoResponse" message="tns:updateJuegoResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/updateJuego/Fault/ClassNotFoundException"/>
</operation>
<operation name="creacionPersona">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/creacionPersonaRequest" message="tns:creacionPersona"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/creacionPersonaResponse" message="tns:creacionPersonaResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/creacionPersona/Fault/ClassNotFoundException"/>
</operation>
<operation name="creacionJuego">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/creacionJuegoRequest" message="tns:creacionJuego"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/creacionJuegoResponse" message="tns:creacionJuegoResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/creacionJuego/Fault/ParseException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/creacionJuego/Fault/ClassNotFoundException"/>
</operation>
<operation name="selectPersona">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/selectPersonaRequest" message="tns:selectPersona"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/selectPersonaResponse" message="tns:selectPersonaResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/selectPersona/Fault/ClassNotFoundException"/>
</operation>
<operation name="selectJuego">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/selectJuegoRequest" message="tns:selectJuego"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/selectJuegoResponse" message="tns:selectJuegoResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/selectJuego/Fault/ClassNotFoundException"/>
</operation>
<operation name="listarJuegos">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarJuegosRequest" message="tns:listarJuegos"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarJuegosResponse" message="tns:listarJuegosResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/listarJuegos/Fault/ClassNotFoundException"/>
</operation>
<operation name="CrearAlquiler">
<input wsam:Action="http://CONTROLADOR/WebServiceAsesor/CrearAlquilerRequest" message="tns:CrearAlquiler"/>
<output wsam:Action="http://CONTROLADOR/WebServiceAsesor/CrearAlquilerResponse" message="tns:CrearAlquilerResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/CrearAlquiler/Fault/ParseException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://CONTROLADOR/WebServiceAsesor/CrearAlquiler/Fault/ClassNotFoundException"/>
</operation>
</portType>
<binding name="WebServiceAsesorPortBinding" type="tns:WebServiceAsesor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarAlquilerDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="listarAlquilerPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="updateJuego">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="creacionPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="creacionJuego">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="selectPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="selectJuego">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="listarJuegos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="CrearAlquiler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebServiceAlquiler">
<port name="WebServiceAsesorPort" binding="tns:WebServiceAsesorPortBinding">
<soap:address location="http://localhost:8080/PROGRAMA_ALQUILER/WebServiceAlquiler"/>
</port>
</service>
</definitions>